<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_front_send_response_before">
        <observer name="creatuity_base_maintenance_observer" instance="Creatuity\Base\Observer\Maintenance\MaintenanceAlert" />
    </event>
</config>